<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:p="http://www.springframework.org/schema/p"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd
 ">


	<!--           spring    -->

	<!-- 自动扫描(自动注入) -->
	<context:component-scan base-package="com.*"/>
	<dubbo:application name="provider" />

	<dubbo:registry  address="zookeeper://192.168.13.1:2181"/>
	<bean id="traceIdFilter" class="com.du.dubbo.server.truce.TraceIdFilter"/>
	<dubbo:service  interface="com.du.dubbo.server.truce.SayHello" ref="sayHelloImpl"  filter="traceIdFilter"/>

	<dubbo:reference id="sayGoodByeImpl" interface="com.du.dubbo.server.truce.SayGoodBye"   filter="traceIdFilter"/>

	<bean id="brave" class="com.github.kristofa.brave.dubbo.BraveFactoryBean" p:serviceName="truceProvider" p:zipkinHost="http://localhost:9411/" p:rate="1.0" />

</beans>
